.giant {
    font-size: 300%;
}
.decl2 {
    text-decoration-line: underline; 
    text-decoration-style: double;
    text-decoration-color: green;
}

.decl3 {
    text-decoration-line: underline; 
    text-decoration-style: double;
    text-decoration-color: orange;
}

.attention3 {
    text-decoration-line: underline; 
    text-decoration-style: double;
    text-decoration-color: orange;
}

.verb {
    border: 2px solid green;
    border-radius: 12px;
}
  
.subject {
    text-decoration-line: underline;
}
  
.regular {
    color: blue;
}
  
.danger {
    color : orange;
}
  
.attention {
    color: orange;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
}

.attention2 {
    color: green;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
}
  
.idthis {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.note { -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #eee;
    background-image: url(../Images/icons/Pencil-48.png);
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border: solid 1px black;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 60px;
   font-style: italic;
}
